.about-us{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding:2% 0%;
    letter-spacing: 2px;
    font-size: 30px;
    margin: 0px;

    .text{
        width: 80%;
        display: flex;
        left: 5%;
        position: relative;

        p{
            margin: 0px;
            line-height: 1;
        }
    }

    .logo{
        width: 70%;
    }
}