################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/FitAppServer/.vs/FitAppServer/v17/*
/FitAppServer/.vs/FitAppServer/FileContentIndex/*
/FitAppServer/FitAppServer/bin/*
/FitAppServer/FitAppServer/obj/*

