.food-item-card-container {
    display: flex;
    justify-content: center;
    font-family: "TitilliumWeb", sans-serif;
    font-size: 16px;
    padding: 0px;

    .food-item-card {
        width: 380px;
        height: 380px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

        .card-header {
            display: flex;
            padding: 16px 16px 0;
            align-items: center;
            justify-content: space-between;

            .card-title {
                font-size: 28px;
                margin-bottom: 5px;
            }
        }
    }

    .serving-size {
        border-bottom: black 1px solid;
        color: darkgrey;
    }

    .nutritional-values-container {
        .nutritional-values {
            display: flex;
            justify-content: space-between;

            .nutritional-label {
                font-weight: bold;
            }

            .nutritional-value {
                color: darkgrey;
            }
        }
    }

    .amount-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .add-btn {
            border-radius: 15px;
            border: none;
            font-weight: bold;
            height: 100%;
            width: 7%;
        }

        .amount {
            width: 35%;
            margin: 1%;
            height: 80%;
            border: 1px solid darkgray;
            border-radius: 10px;
        }
    }
}