.food-item-card-container {
    display: flex;
    justify-content: center;
    font-family: "TitilliumWeb", sans-serif;
    font-size: 16px;
    padding: 0px;

    .food-item-card {
        width: 380px;
        height: 380px;

       .card-header {
            display: flex;
            padding: 16px 16px 0;
            align-items: center;

            .card-title {
                font-size: 28px;
                margin-bottom: 5px;
            }
        }

        .serving-size {
            border-bottom: black 1px solid;
            color: darkgrey;
        }

        .nutritional-values-container {
            .nutritional-values {
                display: flex;
                justify-content: space-between;

                .nutritional-label {
                    font-weight: bold;
                }

                .nutritional-value {
                    color: darkgrey;
                }
            }
        }
    }
}