<div class="food-item-card-container">
    <mat-card class="food-item-card">
        <mat-card-header class="card-header">
            <mat-card-title class="card-title">{{foodItem.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p class="serving-size">serving size: {{ foodItem.serving_size }}</p>
            <div class="nutritional-values-container">
                <div class="nutritional-values">
                    <p class="nutritional-label">calories</p>
                    <p class="nutritional-value"> {{foodItem.calories}}</p>
                </div>
                <div class="nutritional-values">
                    <p class="nutritional-label">total fat</p>
                    <p class="nutritional-value"> {{foodItem.total_fat}}</p>
                </div>
                <div class="nutritional-values">
                    <p class="nutritional-label">calcium</p>
                    <p class="nutritional-value"> {{foodItem.calcium}}</p>
                </div>
                <div class="nutritional-values">
                    <p class="nutritional-label">protein</p>
                    <p class="nutritional-value"> {{foodItem.protein}} </p>
                </div>
                <div class="nutritional-values">
                    <p class="nutritional-label">carbohydrate</p>
                    <p class="nutritional-value"> {{foodItem.carbohydrate}} </p>
                </div>
                <div class="nutritional-values">
                    <p class="nutritional-label">fiber</p>
                    <p class="nutritional-value"> {{foodItem.fiber}}</p>
                </div>
                <div class="nutritional-values">
                    <p class="nutritional-label">sugars</p>
                    <p class="nutritional-value"> {{foodItem.sugars}}</p>
                </div>
                <div class="nutritional-values">
                    <p class="nutritional-label">fat</p>
                    <p class="nutritional-value"> {{foodItem.fat}}</p>
                </div>
            </div>
        </mat-card-content>
        <div *ngIf="user" class="amount-container">
            <input class="amount" [id]="'amountInput_' + foodItem.id" type="number" placeholder="Enter amount (g)"
                min="0" [(ngModel)]="input">
            <button type="button" class="add-btn" (click)=" addItem(foodItem.id)">+</button>
        </div>
    </mat-card>
</div>
<!-- <app-food-item-modal *ngIf="isModalVisible" [foodItem]="foodItem"></app-food-item-modal> -->