<h1 class="title">{{ recipe?.title }}</h1>

    <div class="ingredients-container">
        <div class="ingredients">
            <h1>Ingredients:</h1>
            <h3 *ngFor="let ingredient of ingredients">
                {{ingredient}}
            </h3>
        </div>
    </div>

<div class="ingredients-container">
    <div class="ingredients">
        <h1>Instructions:</h1>
        <h3>{{ recipe?.instructions }}</h3>
    </div>
</div>

<!-- <img class="recipe-img" [src]="recipe.url" alt="{{ recipe.title }}"> -->

<div class="btn-container">
    <button routerLink="/recipes-page" class="btn">To All Recipes</button>
</div>