.hero {
    display: flex;
    background-image: url("../../../assets/images/hero.jpeg");
    height: 500px;
    background-size: cover;
    justify-content: center;
    align-items: center;

    .box {
        background: rgba(255, 255, 255, 0.88);
        width: 650px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 36px 126px;
        gap: 18px;

        .text {
            width: 400px;
            height: 80px;
            text-align: center;
            font-weight: bold;
            font-size: 32px;
            letter-spacing: 1.8px;
        }
    }

    .search {
        width: 505px;
        height: 48px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 6px 12px;
        gap: 16px;
        border: 0.5px solid #000000;
        border-radius: 4px;
        background: none;

        input {
            height: 29px;
            width: 423px;
            left: 10px;
            top: 4.5px;
            font-size: 24px;
            letter-spacing: 1.29px;
            color: #000000;
            font-family: 'Helvetica Neue';
            background: none;
            border: none;
            outline: none;
        }

        img {
            width: 32px;
            height: 32px;
        }
    }

    .search-results {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: flex-start;
        padding: 10px 15px 10px 70px;
        left: 368px;
        top: 531px;
        width: 442px;
        background: #FFFFFF;
        font-size: 16px;
        letter-spacing: 1.29px;
        color: #000000;
        font-family: 'Helvetica Neue';
    
        .results {
            margin: 5px 0px;
    
            p {
                margin: 5px;
            }
        }
    
        .value {
            font-weight: bold;
        }
    }
}

