<div class="search-container">
    <div class="search">
        <img src="../../../assets/images/search.svg" alt="search">
        <input (keyup)="search($event)" type="text" placeholder="Search recipes...">
    </div>
</div>

<div class="cards-container" *ngIf="foodItems$ | async as foodItems">
    <app-food-item-card *ngFor="let foodItem of foodItems" [foodItem]="foodItem"></app-food-item-card>
</div>

<mat-paginator class="btn" [length]="800" [pageSize]="20" aria-label="Select page"
    (page)="onPageChange($event)"></mat-paginator>