.cover-photo {

    display: flex;
    justify-content: center;
    align-items: center;

    img {
        margin:5%;
        width: 83%;
        height: 600px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }
}

.logo-container {
    display: flex;
    justify-content: center;
    margin: 3%;
}

.about {
    display: flex;
    padding: 5%;
    border: 1px solid white;

    .about-left-side {
        width: 80%;
        display: flex;
        justify-content: center;

        img {
            width: 85%;
            height: auto;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        }
    }

    .about-right-side {
        width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .title {
            font-size: 40px;
        }

        .text {
            width: 90%;
            font-size: 20px;
            height: auto;
            line-height: initial;
            letter-spacing: 2px;
        }
    }
}

.mentors {
    display: flex;
    flex-direction: column;
    border: 1px solid white;

    .all-mentors {
        cursor: pointer;
        display: flex;
        position: relative;
        left: 82%;
        font-size: 20px;
        font-weight: bold;
    }
}