.cover-photo {

    display: flex;
    justify-content: center;
    align-items: center;

    img {
        margin: 5%;
        width: 83%;
        height: 600px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }
}

.logo-container {
    display: flex;
    justify-content: center;
    margin: 3%;
}

.mentors {
    display: flex;
    flex-direction: column;
    border: 1px solid white;

    .all-mentors {
        cursor: pointer;
        display: flex;
        position: relative;
        left: 82%;
        font-size: 20px;
        font-weight: bold;
    }
}

/* For small devices (phones) */
@media (max-width: 576px) {
    .logo-container {
        display: flex;
        justify-content: center;

        svg {
            width: 200px;
            height: 55px;
            padding: 10%;
        }
    }

    
}

/* For medium devices (tablets) */
@media (min-width: 577px) and (max-width: 992px) {
    .logo-container {
        /* Adjust styles for medium screens */
    }
}