<div class="chat-container">
    <p class="close-btn" (click)="isChatVisible()">X</p>
    <div class="messages-container">
        <div *ngFor="let message of messages" class="message">
            <div class="user-message" *ngIf="message.isUser">{{ message.content }}</div>
            <div class="mentor-message" *ngIf="!message.isUser">{{ message.content }}</div>
        </div>
    </div>
    <div class="input-container">
        <input type="text" [(ngModel)]="userInput" (keyup.enter)="sendMessage()" [placeholder]="placeholderText"/>
        <button (click)="sendMessage()">Send</button>
    </div>
</div>