<div class="search-container">
    <div class="search">
        <img src="../../../assets/images/search.svg" alt="search">
        <input (keyup)="search($event)" type="text" placeholder="Find your favorite recipes...">
    </div>
</div>

<div class="cards-container" *ngIf="recipes$ | async as  recipes">
    <div *ngFor="let recipe of recipes">
        <app-recipe-card [recipe]="recipe" [routerLink]="['/single-recipe', recipe.title]"></app-recipe-card>
    </div>
</div>

<mat-paginator class="btn" [length]="recipesCount" [pageSize]="12" aria-label="Select page"
    (page)="onPageChange($event)"></mat-paginator>