<div class="tp-box" (click)="toggleFlip()" [@flipState]="flip">
    <div class="tp-box__side tp-box__front">
        <mat-card class="mentor-card">
            <mat-card-header class="card-header">
                <img mat-card-md-image src="{{mentor.picture}}" alt="mentor-image">
            </mat-card-header>
            <div class="card-content">
                <mat-card-title class="title">{{mentor.name}}</mat-card-title>
            </div>
        </mat-card>
    </div>
    <div class="tp-box__side tp-box__back">
        <mat-card class="mentor-card">
            <mat-card-header class="card-header">
                <mat-card-title>{{mentor.name}}</mat-card-title>
            </mat-card-header>
            <div class="card-content">
                <mat-card-subtitle>{{mentor.description}}</mat-card-subtitle>
            </div>
        </mat-card>
    </div>
</div>