<div *ngIf="isSignInVisible" class="modal">
    <img (click)="isSignInVisible()" class="close-button" src="../../../assets/images/X.svg" alt="x-img">
    <div class="modal-content">
        <h1 class="title">SIGN IN</h1>
        <h3 class="text">Start a healthy life by logging in</h3>
        <form *ngIf="signInForm" [formGroup]="signInForm" class="login-form">
            <div class="form-group">
                <div>
                    <mat-form-field class="filed">
                        <mat-label for="username">Username</mat-label>
                        <input matInput placeholder="Enter Username" formControlName="username" required>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="filed">
                        <mat-label>Password</mat-label>
                        <input [type]="hide ? 'password' : 'text'" matInput placeholder="Enter Password"
                            formControlName="password" required>
                        <mat-error *ngIf="signInForm.get('password')?.hasError('pattern')">
                            Password must contain at least 6 characters.
                        </mat-error>
                        <button mat-icon-button matSuffix (click)="hide = !hide"
                            [attr.aria-label]="'Toggle password visibility'" [attr.aria-pressed]="hide">
                            <mat-icon class="small-icon">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>
            <div class="login">
                <button type="submit" class="btn" (click)="onSubmit()">Login</button>
            </div>
        </form>
        <div class="login">
            <img class="or" src="../../../assets/images/or.svg" alt="or">
            <button type="submit" class="btn" routerLink="/sign-up-page" (click)="isSignInVisible()">Sign Up</button>
        </div>
    </div>
</div>