<div *ngIf="isSignInVisible" class="modal">
    <img (click)="isSignInVisible()" class="close-button" src="../../../assets/images/X.svg" alt="x-img">
    <div class="modal-content">
        <p class="title">SIGN IN</p>
        <p class="text">To continue the order, please sign in</p>
        <div class="details">
            <p class="input">Email adress</p>
            <p class="input">Password</p>
        </div>
        <div class="login">
            <img class="login-btn" src="../../../assets/images/login.svg" alt="login-img">
            <p class="forget-password">Forget password?</p>
            <img class="or" src="../../../assets/images/or.svg" alt="or">
            <img class="sign-up-btn" src="../../../assets/images/sign-up.svg" alt="sign-up">
        </div>
    </div>
</div>