<mat-stepper #stepper>
    <mat-step>
        <h2 class="title">Enter Your Details</h2>
        <ng-template matStepLabel>Details</ng-template>
        <form *ngIf="signUpForm" [formGroup]="signUpForm" class="register-form">
            <div>
                <mat-form-field class="filed">
                    <mat-label for="firstName">Fisrt Name</mat-label>
                    <input matInput placeholder="Enter Your Fisrt Name" formControlName="firstName" required>
                </mat-form-field>

                <mat-form-field class="filed">
                    <mat-label for="lastName">Last Name</mat-label>
                    <input matInput placeholder="Enter Your Last Name" formControlName="lastName" required>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="long-filed">
                    <mat-label for="username">Username</mat-label>
                    <input matInput placeholder="Enter Username" formControlName="username" required>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="long-filed">
                    <mat-label>Password</mat-label>
                    <input [type]="hide ? 'password' : 'text'" matInput placeholder="Enter Password"
                        formControlName="password" required>
                    <mat-error *ngIf="signUpForm.get('password')?.hasError('pattern')">
                        Password must contain at least 6 characters.
                    </mat-error>
                    <button mat-icon-button matSuffix (click)="hide = !hide"
                        [attr.aria-label]="'Toggle password visibility'" [attr.aria-pressed]="hide">
                        <mat-icon class="small-icon">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="short-filed">
                    <mat-label for="height">Height</mat-label>
                    <mat-select placeholder="Select Your Height" formControlName="height" required>
                        <mat-option *ngFor="let height of heights" [value]="height">
                            {{height}}cm
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="short-filed">
                    <mat-label for="weight">Weight</mat-label>
                    <mat-select placeholder="Select Your Weight" formControlName="weight" required>
                        <mat-option *ngFor="let weight of weights" [value]="weight">
                            {{weight}}kg
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="short-filed">
                    <mat-label for="age">Age</mat-label>
                    <mat-select placeholder="Select Your Age" formControlName="age" required>
                        <mat-option *ngFor="let age of ages" [value]="age">
                            {{age}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </form>
        <div class="navigation-btn">
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Gender</ng-template>
        <h2 class="title">Select Your Gender</h2>
        <div class="gender-icons-container">
            <img src="../../../assets/images/male.jpeg" alt="male-icon" (click)="gender='male'"
                [class.img-selected]="gender=='male'">
            <img src="../../../assets/images/female.jpeg" alt="female-icon" (click)="gender='female'"
                [class.img-selected]="gender=='female'">
        </div>
        <div class="navigation-btn">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Preferences</ng-template>
        <h2 class="title">Select Your Health Preferences</h2>
        <div class="tags-container">
            <button *ngFor="let tag of tags" [ngClass]="{ 'selected': isSelected(tag) }"
                (click)="toggleSelection(tag)">{{
                tag }}</button>
        </div>
        <div class="navigation-btn">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <div>
            <h2 class="title">Click Here To Start Our Journey Together.</h2>
            <div class="submit-button-container">
                <button type="submit" class="submit-button" *ngIf="!btnClicked" (click)="onSubmit()" (click)="btnClicked=true">Start</button>
                <mat-spinner class="spinner" *ngIf="btnClicked"></mat-spinner>
                <app-sign-up-complete *ngIf="mentor" [mentor]="mentor" [welcomeMsg]="firstMsg"></app-sign-up-complete>
            </div>
        </div>
        <div class="navigation-btn">
            <button mat-button matStepperPrevious>Back</button>
        </div>
    </mat-step>
</mat-stepper>