<mat-stepper #stepper>
    <mat-step>
        <ng-template matStepLabel>name</ng-template>
        <form *ngIf="signUpForm" [formGroup]="signUpForm" class="register-form">

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" formControlName="username" placeholder="Enter Username" class="form-control"
                    id="username" />
                <div *ngIf="signUpForm.get('username')?.hasError('required')" class="error-message">
                    Username is required
                </div>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" placeholder="Enter Password" class="form-control"
                    id="password" />
                <div *ngIf="
        signUpForm.get('password')?.hasError('required') ||
        signUpForm.get('password')?.hasError('minlength')
      " class="error-message">
                    Password is required and must be at least 6 characters long.
                </div>
            </div>

            <div class="form-group">
                <label for="firstName">Fisrt Name</label>
                <input type="text" formControlName="firstName" placeholder="Enter first name" class="form-control"
                    id="firstName" />
                <div *ngIf="signUpForm.get('firstName')?.hasError('required')" class="error-message">
                    First Name is required
                </div>
            </div>

            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" formControlName="lastName" placeholder="Enter last name" class="form-control"
                    id="lastName" />
                <div *ngIf="signUpForm.get('lastName')?.hasError('required')" class="error-message">
                    Last Name is required
                </div>
            </div>

            <div class="form-group">
                <label for="age">Age</label>
                <input type="number" formControlName="age" placeholder="Enter your age" class="form-control" id="age" />
                <div *ngIf="signUpForm.get('age')?.hasError('required')" class="error-message">
                    Age is required
                </div>
            </div>

            <div class="form-group">
                <label for="height">Height</label>
                <input type="number" formControlName="height" placeholder="Enter your height" class="form-control"
                    id="height" />
                <div *ngIf="signUpForm.get('height')?.hasError('required')" class="error-message">
                    Height is required
                </div>
            </div>

            <div class="form-group">
                <label for="weight">Weight</label>
                <input type="number" formControlName="weight" placeholder="Enter your weight" class="form-control"
                    id="weight" />
                <div *ngIf="signUpForm.get('weight')?.hasError('required')" class="error-message">
                    Weight is required
                </div>
            </div>
        </form>
        <button mat-button matStepperNext>Next</button>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Gender</ng-template>
        <h2 class="title">Select Your Gender</h2>
        <div class="gender-icons-container">
            <img src="../../../assets/images/male.jpeg" alt="male-icon" (click)="gender='male'"
                [class.img-selected]="gender=='male'">
            <img src="../../../assets/images/female.jpeg" alt="female-icon" (click)="gender='female'"
                [class.img-selected]="gender=='female'">
        </div>
        <div class="navigation-btn">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Preferences</ng-template>
        <h2 class="title">Select Your Health Preferences</h2>
        <div class="tags-container">
            <button *ngFor="let tag of tags" [ngClass]="{ 'selected': isSelected(tag) }"
                (click)="toggleSelection(tag)">{{
                tag }}</button>
        </div>
        <div class="navigation-btn">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Submit</ng-template>
        <div>
            <h2 class="title">You are all done!</h2>
            <h2 class="title">Let's start our journey together.</h2>
            <div class="submit-button-container ">
                <button type="submit" class="submit-button" (click)="onSubmit()">Create My Account</button>
            </div>
        </div>
        <div class="navigation-btn">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>{{firstMsg}}</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
        </div>
    </mat-step>
</mat-stepper>