.register-form {
    flex-wrap: wrap;
    justify-content: center;
    padding: 3%;

    div {
        gap: 3%;
        display: flex;
        justify-content: center;

        .short-filed {
            width: 190px;
        }

        .filed {
            width: 300px;
        }

        .long-filed {
            width: 640px;
        }
    }
}

.title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 0%;
}

.gender-icons-container {
    display: flex;
    flex-direction: row;
    gap: 20%;
    cursor: pointer;
    justify-content: center;
    padding: 5%;

    img {
        width: 20%;
    }

    .img-selected {
        border-radius: 50%;
        border: 5px solid rgba(248, 221, 67, 0.97);
    }
}

.tags-container {
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4% 6% 3%;

    button {
        align-items: center;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 20px;
        cursor: pointer;
        height: 50px;
        justify-content: center;
        letter-spacing: 0.25px;
        font-weight: bold;
        padding: 5px;
        width: 150px;
        font-size: 16px;
    }

    button.selected {
        background-color: rgba(248, 221, 67, 0.97);
    }
}

.navigation-btn {
    display: flex;
    justify-content: center;
    padding: 5%;
}

::ng-deep .mat-step-header .mat-step-icon-selected,
::ng-deep .mat-step-header .mat-step-icon-state-done,
::ng-deep .mat-step-header .mat-step-icon-state-edit {
    background-color: rgba(248, 221, 67, 0.97) !important;
    color: #fff !important;
}

.submit-button-container {
    display: flex;
    justify-content: center;

    .submit-button {
            align-items: center;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 10px;
            cursor: pointer;
            height: 50px;
            justify-content: center;
            letter-spacing: 0.25px;
            font-weight: bold;
            padding: 5px;
            width: 150px;
            font-size: 16px;
            margin: 2%;
    }

    .submit-button:hover {
        background-color: lightgray;
    }

    .spinner{
        margin-top: 3%;
    }

}

.small-icon {
    transform: scale(0.75);
}

.mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color:  rgba(248, 221, 67, 0.97);
}
