<div class="profile-page">
    <div>
        <h1 class="title">{{user.firstname}} {{user.lastname}}, {{user.age}}</h1>
    </div>

    <div class="data-box-container">
        <div class="data-box">
            <div class="data">
                <img src="../../../assets/images/weight-scale.png" alt="food-db-icon">
                <h1>Height</h1>
                <h3>{{user.height}}c</h3>
            </div>
            <div class="data">
                <img src="../../../assets/images/height.png" alt="recipes-icon">
                <h1>Weight</h1>
                <h3>{{currentWeight}}kg</h3>
            </div>
            <div class="data">
                <img src="../../../assets/images/bmi.png" alt="track-goals-icon">
                <h1>Bmi</h1>
                <h3>{{user.bmi}} </h3>
            </div>
        </div>
    </div>

    <h3 class="mentor-title">My Mentor</h3>
    <div class="mentor-container" *ngIf="mentor$ | async as mentor">
        <div class="mentor-left-side">
            <img class="mentor-img" src="{{mentor.picture}}" alt="mentor-img">
        </div>
        <div class="mentor-right-side">
            <p class="text">{{mentor.description}}</p>
        </div>
    </div>

    <div class="chart-container">
        <canvasjs-chart class="chart" [options]="chartOptions"
            [styles]="{width: '1000%', height:'360px'}"></canvasjs-chart>
    </div>

    <div class="update-form-container">
        <div class="update-form">
            <h3 class="update-data-title">Update Your Weight and Goal</h3>
            <div>
                <mat-form-field class="filed">
                    <mat-label for="weight">Goal</mat-label>
                    <mat-select placeholder="Select Your Goal" required [(ngModel)]="selectedGoal">
                        <mat-option *ngFor="let weight of weights" [value]="weight">
                            {{weight}}kg
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="filed">
                    <mat-label for="weight">Weight</mat-label>
                    <mat-select placeholder="Current Weight" required [(ngModel)]="selectedWeight">
                        <mat-option *ngFor="let weight of weights" [value]="weight">
                            {{weight}}kg
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <p *ngIf="error && (!selectedWeight || !selectedGoal)" class="error-message">Please fill in both the goal
                and weight
                fields.</p>
            <button class="btn" (click)="updateData()">Update</button>
            <p *ngIf="success" class="success-message">Update Success</p>
        </div>
    </div>

    <!-- <h3 *ngIf="user.goal">Goal: {{user.goal}}</h3> -->

    <div class="food-table">

    </div>

    <div class="chart-container">
        <canvasjs-chart class="chart" [options]="nutritionalValuesChart"
            [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
    </div>
</div>