    .title {
        margin-top: 2%;
        padding: 2%;
        font-size: 32px;
        font-weight: bold;
        display: flex;
        justify-content: center;
    }

    .data-box-container {
        display: flex;
        justify-content: center;

        .data-box {
            border: 10px solid rgba(248, 221, 67, 0.97);
            width: 82%;
            padding: 25px 0px;
            gap: 50px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            flex-direction: row;

            .data {
                width: 300px;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: -webkit-center;

                h1 {
                    margin: 0px 0px;
                    font-weight: bold;
                }

                h3 {
                    font-weight: bold;
                }

                img {
                    width: 150px;
                    height: auto;
                    margin: 10px;
                }
            }
        }
    }

    .mentor-title {
        font-size: 32px;
        font-weight: bold;
        margin-left: 8%;
        margin-top: 4%;
    }

    .mentor-container {
        display: flex;
        padding: 1% 4%;
        border: 1px solid white;

        .mentor-left-side {
            width: 80%;
            display: flex;
            justify-content: center;

            img {
                width: 85%;
                height: auto;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            }
        }

        .mentor-right-side {
            width: 80%;
            display: flex;
            justify-content: center;
            flex-direction: column;

            .text {
                width: 90%;
                font-size: 20px;
                height: auto;
                line-height: initial;
                letter-spacing: 2px;
            }
        }
    }

    .food-chart-container {
        display: flex;
        justify-content: center;
        margin: 5%;
    }

    .chart-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1%;

        .chart {
            display: flex;
            margin: 4% 8%;
        }
    }

    .weight-container {
        display: flex;
        justify-content: space-around;
        margin-top: 2%;

        .weight-form {
            justify-content: center;
            width: 83.4%;
            display: flex;
            align-items: center;
            margin-bottom: 4%;

            .left-side-form {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                width: 40%;

                .update-data-title {
                    font-size: 32px;
                    align-items: center;
                    width: 300px;
                    font-weight: bold;
                    padding: 5%;
                    justify-content: center;
                    display: flex;
                }

                .weight-filed {
                    width: 300px;
                }

                .error-message {
                    margin-top: 0px;
                    padding: 0px;
                    color: red;
                }

                .success-message {
                    margin-top: 0px;
                    padding: 0px;
                    color: green;
                }

                .btn {
                    align-items: center;
                    background-color: #fff;
                    border: 1px solid #ccc;
                    border-radius: 10px;
                    cursor: pointer;
                    height: 50px;
                    justify-content: center;
                    letter-spacing: 0.25px;
                    font-weight: bold;
                    padding: 5px;
                    width: 150px;
                    font-size: 16px;
                    margin: 1%;
                }

                .btn:hover {
                    background-color: lightgray;
                }
            }

            .right-side-img {
                width: 60%;
                display: flex;
                justify-content: end;

                img {
                    width: 85%;
                    height: auto;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
                }
            }
        }
    }

    .goal-container {
        display: flex;
        justify-content: center;

        .goal-form {
            justify-content: center;
            border: 10px solid rgb(163 163 158 / 97%);
            width: 78%;
            padding: 2%;
            flex-wrap: wrap;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 5%;

            .update-data-title {
                font-size: 32px;
                font-weight: bold;
                margin-bottom: 2%;
                padding: 2%;
            }

            div {
                gap: 5%;
                display: flex;
                justify-content: center;
                flex-direction: column;

                .goal-filed {
                    width: 800px;
                }
            }

            .error-message {
                margin-top: 0px;
                padding: 0px;
                color: red;
            }

            .success-message {
                margin-top: 0px;
                padding: 0px;
                color: green;
            }

            .btn {
                align-items: center;
                background-color: #fff;
                border: 1px solid #ccc;
                border-radius: 10px;
                cursor: pointer;
                height: 50px;
                justify-content: center;
                letter-spacing: 0.25px;
                font-weight: bold;
                padding: 5px;
                width: 150px;
                font-size: 16px;
                margin: 1%;
            }

            .btn:hover {
                background-color: lightgray;
            }
        }
    }

    .food-chart-container {
        display: flex;
        flex-direction: column;
        margin: 2% 3%;

        h1 {
            margin: 1% 5%;
            font-weight: bold;
        }

        .food-chart {
            width: 100%;
            font-weight: 16px;
            margin: 0% 5%;

            .mat-sort {
                width: 92%;
            }

            .mat-sort-header {
                font-size: 20px;
            }
        }
    }

    .mat-sort-header-container {
        align-items: center;
    }