.our-mentors {
    display: flex;
    flex-direction: column;
    padding: 30px;

    .title {
        font-size: 20px;
        font-weight: bold;
        display: flex;
        left: 6%;
        position: relative;
        padding: 1%;
    }

    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
}