.recipe-card-container {
    display: flex;
    justify-content: center;
    font-family: "TitilliumWeb", sans-serif;
    font-size: 16px;
    padding: 0px;

    .recipe-card {
        width: 380px;
        height: 380px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }
}